@import "tailwindcss";

:root {
  --background: white;
  --foreground: black;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 30px;
}

.meuInput {
  @apply bg-gray-800 text-white p-2 rounded-md;
}

.meuBotao {
  @apply bg-blue-500 text-white p-2 rounded-md;
}
