@import "tailwindcss";

:root {
  --background: white;
  --foreground: black;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

hr {
  @apply opacity-25;
}
