@import "tailwindcss";

:root {
  --background: white;
  --foreground: black;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  width: 100%;
  height: 100vh;
  display: flex;
}

body {
  @apply bg-center bg-cover bg-no-repeat;
  background-image: url("/img/background-desktop.png");
}
