@import "tailwindcss";

:root {
  --background: white;
  --foreground: black;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .btn-sucess,
  .btn-warning,
  .btn-error {
    @apply px-4 py-2 rounded-md text-white mx-2 cursor-pointer;
  }

  .btn-sucess {
    @apply bg-green-600 hover:bg-green-400;
  }

  .btn-warning {
    @apply bg-orange-500 hover:bg-orange-400;
  }

  .btn-error {
    @apply bg-red-500 hover:bg-red-400;
  }
}
