#menu ul {
  list-style: none;
  padding: 0px;
  width: 200px;
}

#menu li a {
  display: block;
  padding: 0.5em 1.5em;
  color: black;
  text-decoration: none;
  background: #f7b600 url("img/seta.png") no-repeat 0.5em center;
}

#menu li a:hover {
  padding: 0.5em 2.5em;
  color: white;
  background: #f99200 url("img/seta.png") no-repeat 1.5em center;
}

#menu li a:active {
  background-color: #885000;
}

#menu li a.selecionado {
  padding: 0.5em 2.5em;
  color: white;
  background: #f99200 url("img/seta.png") no-repeat 1.5em center;
}
