h1 {
    width: 100%;
    color: blue;
    text-align: center;
    text-decoration: underline;
    font-size: 100px;
}

h2 {
    text-align: center;
}

#Tabuada {
    text-align: center;
}

.Resultado {
    text-align: center;
}