body {
  margin-bottom: 200px;
}

#destaque {
  background-color: red;
}

#itens {
  background-color: orange;
}

.primeiro {
  background-color: orange;
}

.itemDestaque {
  color: white;
  background-color: black;
}
