body {
  background-color: white;
}

header {
  display: flex;
  align-items: center;
}

nav {
  flex-grow: 1;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul a {
  padding: 10px;
  text-decoration: none;
  color: #484848;
}

nav ul a:hover {
  color: #0b5cff;
}

.botao {
  text-decoration: none;
  color: #0b5cff;
  border: 2px solid #0b5cff;
  border-radius: 25px;
  padding: 5px 30px;
}

.botao.destaque {
  background: #0b5cff;
  color: white;
}

.botao:hover {
  background: #d2e1ff;
}

.botao.destaque:hover {
  background: #2d73ff;
}
