.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form input {
  margin-bottom: 20px;
}

.borda {
  border: 5px solid white;
  border-radius: 10px;
  padding: 10px;
}
