*{
	margin: 0px;
	padding: 0px;
}

body {
	height: 100%;
	width: 100%;
	position: absolute;
}

.Unidade1 {
	height: 100%;
	background: url(Imagens/imagem1.jpg) no-repeat;
	background-size: cover;
	opacity: 0.7;
	background-position: center;
	background-attachment: fixed;
}

.Unidade2 {
	height: 100%;
	background: url(Imagens/imagem2.jpg) no-repeat;
	background-size: cover;
	opacity: 0.7;
	background-position: center;
	background-attachment: fixed;
}

.Unidade3 {
	height: 100%;
	background: url(Imagens/imagem3.jpg) no-repeat;
	background-size: cover;
	opacity: 0.7;
	background-position: center;
	background-attachment: fixed;
}

.Texto {
	text-align: justify;
	padding: 20px;
	margin: 20px;
}

.Texto h2 {
	text-align: center;
	margin: 20px;
}

.Texto p {
	margin: 20px;
}

.Botão1 {
	font-size: 20px;
	color: white;
	letter-spacing: 5px;
	background: black;
	padding: 25px;
	position: absolute;
	left: 42%;
	top: 45%;
}

.Botão2 {
	font-size: 20px;
	color: white;
	letter-spacing: 5px;
	background: black;
	padding: 25px;
	position: absolute;
	left: 42%;
	top: 175%;
}

.Botão3 {
	font-size: 20px;
	color: white;
	letter-spacing: 5px;
	background: black;
	padding: 25px;
	position: absolute;
	left: 45%;
	top: 305%;
}